---
layout: base-layout.njk
pagination:
    data: collections.post
    size: 10
    reverse: true
    alias: posts
---
{% for post in posts %}
    <article>
        <h1>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h1>
        <p>
        {{ post | readingTime }}
        |
        <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable}}</time>
        |
        {{ post | joinTopics }}
        </p>
        <p>
        {% excerpt post %}
        </p>
    </article>
{% endfor %}

{% if pagination.href.previous %}
  <a class="nav-link-prev" href="{{pagination.href.previous}}">Previous Page</a>
{% endif %}
{% if pagination.href.next %}
  <a class="nav-link-next" href="{{pagination.href.next}}">Next Page</a>
{% endif %}
