<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{renderData.description or description or metadata.description}}">
    <title>{{ title }} - Tim Giles</title>
    <script defer src="https://kit.fontawesome.com/04049fdd3b.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/favicon.png">
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
    {% include "site.css" %}
    {% endset %}
    {% set prism %}
    {% include "prism-a11y-dark.css" %}
    {% endset %}
    <!-- feed it through the cssmin filter to minify-->
    <style>
        {{css | cssmin | safe}}
        {{prism | cssmin | safe}}
    </style>
</head>