<!DOCTYPE html>
<html lang="en">
    {% include "home-header.njk" %}
    <body>
        {% include "sidebar-navigation.njk" %}
        <div class="profile">
            <img 
            class="profile-img"
            srcset="/img/profile/profile-250.webp"
            sizes="250px"
            src="/img/profile/profile.webp" 
            alt="Tim Giles">
        </div>
        <main id="main">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>