<!DOCTYPE html>
<html lang="en">
    {% include "home-header.njk" %}
    <body>
        {% include "sidebar-navigation.njk" %}
        <div class="profile">
            <img class="profile-img" src="/img/profile/profile.jpg" alt="Tim Giles">
        </div>
        <main id="main">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>