<!DOCTYPE html>
<html lang="en">
    {% include "home-header.njk" %}
    <body>
        {% include "sidebar-navigation.njk" %}
        <main id="main">
                    <div class="profile">
            <img 
            class="profile-img"
            srcset="/img/profile/profile-250.webp"
            sizes="250px"
            src="/img/profile/profile.webp"
            alt="Tim Giles smiling and looking off in the distance with a yellow tulip in the foreground">
        </div>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>