--- 
layout: base-layout.njk
---
<p>
    {{ content | readingTime }}
    {% if topics.length > 1 %}
    | Topics:
    {% endif %}
    {% for topic in topics %}
        <a href="/blog/tags/{{topic}}">{{topic}}</a>
    {% endfor %}
    | <a href="https://github.com/TGiles/static-site/blob/master/{{page.inputPath}}">Edit post</a>
</p>
<article>
    {{ content | safe }}
</article>
{% if prevPost or nextPost %}
    <nav class="related-posts">
    {% if prevPost %}
        <a href="{{prevPost.url}}">
            <strong>Previous: </strong>
            <p>{{prevPost.data.title}}</p>
        </a>
    {% endif %}
    {% if nextPost %}
        <a href="{{nextPost.url}}">
        <strong>Next: </strong>
        <p>{{nextPost.data.title}}</p>
        </a>
    {% endif %}
    </nav>
{% endif %}