<nav class="sidebar-navigation" title="sidebar">
    <div>
        <a class="skip-to-main" href="#main">
        <i class="fas fa-fast-forward"></i>
        <p>Skip to main content</p>
        </a>
        <a href="/#">
            <i class="fas fa-home"></i>
            <p>Home</p>
        </a>

        <a href="/#about-me">
            <i class="fas fa-user"></i>
            <p>About</p>
        </a>

        <a href="/#featured-projects">
            <i class="fas fa-code"></i>
            <p>Projects</p>
        </a>

        <a href="/#contact-me">
            <i class="fas fa-envelope"></i>
            <p>Contact</p>
        </a>

        <a href="/blog">
            <i class="fas fa-archive"></i>
            <p>Blog</p>
        </a>

    </div>
    <div>
        <a href="https://github.com/TGiles">
            <span class="visually-hidden">
                Github</span>
            <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/timothy-giles/">
            <span class="visually-hidden">
                LinkedIn</span>
            <i class="fab fa-linkedin-in"></i>
        </a>

        <a href="https://twitter.com/timothyceegee">
            <span class="visually-hidden">
                Twitter</span>
            <i class="fab fa-twitter"></i>
        </a>
    </div>
</nav>