:root {
    --base-font: 1rem;
    --font-125: calc(var(--base-font) * 1.25);
    --font-150: calc(var(--base-font) * 1.563);
    --font-175: calc(var(--base-font) * 1.953);
    --font-200: calc(var(--base-font) * 2.441);
    --font-225: calc(var(--base-font) * 3.052);
    --line-height: 1.65;
    --maximum-blue: #34c4c8;
    --powder-blue: #b4dce7;
    --african-violet: #b381c5;
    --old-lavender: #91889b;
    --raisin-black: #27212e;
    --hot-pink: #EB64B9;
    --translucent-roman-silver: #71638570

}

html {
    scroll-behavior: smooth;
    background-color: #181a1b;
    color: white;
    scrollbar-color: dark;
    font-family: Muli;
}
::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
    background-color: #2a2c2e;
}

a {
    color: white;
}
a:hover, a:focus {
    text-decoration: underline;
    text-decoration-color: var(--hot-pink);
}

a.nav-link-next {
    font-size: var(--font-150);
    display: flex;
    justify-content: flex-end;
}

a.nav-link-prev {
    font-size: var(--font-150);
    display: flex;
    justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hack';
    color: var(--powder-blue);
}

h1 {
    margin-bottom: 0.8rem;
    font-size: var(--font-200);
}

h2 {
    margin-top: 2.441rem;
    margin-bottom: 0.8rem;
    font-size: var(--font-175);
}

h3 {
    font-size: var(--font-150);
}

h3 > a {
    color: #b381c5;
}

h1 > a {
    color: var(--powder-blue);
}

nav, code {
    font-family: 'Hack';
}

p {
    font-family: 'Muli';
    font-size: var(--base-font);
    line-height: var(--line-height);
}

p.leader-paragraph {
    font-size: var(--font-150);
}

body {
    display: grid;
    grid-template-columns: 0.15fr 0.75fr 0.15fr;
    text-align: left;
    margin: 0;
}

main {
    grid-column: 2 / 2;
}

footer {
    grid-column: 2 / 2;
    font-family: 'Muli';
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}

nav {
    position: fixed;
    height: 100%;
    background-color: var(--raisin-black);
    display: flex;
    flex-flow: column nowrap;
}

nav > div {
    display: flex;
    flex-flow: column nowrap;
}

nav a:focus, nav a:hover {
    filter: brightness(175%);
    background-color: var(--translucent-roman-silver);
}

nav a {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #74f6e8;
    color: #40b4c4;
}

nav a p {
    margin: auto 0.5rem;
}
nav a i {
    font-size: var(--font-150);
}

img[src="/img/profile.jpg"] {    
    width: 100%;
    border-radius: 50%;
}

img {
    display: block;
    width: 33%;
    margin: auto;
}

div.profile {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    margin-top: 1.563rem;
}

div.profile ul {
    list-style: none;
}

div.profile i {
    font-size: var(--font-200);
}

.resume > a {
    font-size: var(--font-150);
    color: var(--african-violet);
}

article {
    display: grid;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: .05fr .90fr .05fr;
    }
    nav {
        position: relative;
        grid-column: 1 / span 3;
        height: auto;
    }
    nav > div {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    div.profile {
        grid-column: 2/2;
        grid-row: 2/2;
    }
    div.profile > img[src="/img/profile.jpg"] {
        width: 30%;
    }
    img  {
        width: 100%;
    }
}